.invoice-ribbon{
	width:85px;
	height: 100px;
	overflow:hidden;
	position:absolute;
	top:-1px;
	right: 0px;
}


 
.ribbon-inner {
	text-align:center;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	position:relative;
	padding:7px 0;
	left:-5px;
	top:11px;
	width:120px;
	background-color:#66c591;
	font-size:15px;
	color:#fff;
}

.ribbon-inner:before,.ribbon-inner:after {
	content:"";
	position:absolute;
}

.ribbon-inner:before {
	left:0;
}

.ribbon-inner:after {
	right:0;
}

.invoice .top-left,.invoice .top-right,.invoice .payment-details {
	text-align:center;
}

.invoice .from,.invoice .to,.invoice .payment-details {
	float:none;
	width:100%;
	text-align:center;
	margin-bottom:25px;
}

.invoice p.lead,.invoice .from p.lead,.invoice .to p.lead,.invoice .payment-details p.lead {
	font-size:22px;
}

.invoice .btn {
	margin-top:10px;
}


@media print {
.invoice {
	width:900px;
	height:800px;
}
}